<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule></rules>
    </rewrite>
  </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=wordpress868;Uid=wordpressuser734;Pwd=[s&amp;QU95[f&amp;Ru" name="wordpress868" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
